#titulo{
  color: gold;
  text-shadow: 5px 5px black;
  text-align: center;
  font-size: 50px;
}

html, body{
  height: auto;
}

body{
  background-image: url("imgs/fundo-da-ilha-pirata.jpg");
  background-repeat: no-repeat;
  background-position: left-bottom;
  background-size: cover;
  margin: 0% 25%;
  padding: 1px;
}

caption{
  background-color: rgba(150, 150, 150, 0.5);
}

table{
  text-align: center;
  border-collapse: collapse;
}

thead{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: lightgreen;
}

tbody{
  background-color: white;
}

tfoot{
  background-color: lightsteelblue;
}

th{
  padding: 5px 15px;
}

td{
  padding: 5px 15px;
}

tbody tr:hover{
  background-color: lightblue;
}
